@import "tailwindcss";

@theme {
  --color-bp-primary-100: #CCEAFF;
  --color-bp-primary-200: #A9D3EE;
  --color-bp-primary-300: #86BDDD;
  --color-bp-primary-400: #63A6CB;
  --color-bp-primary-500: #005796;
  --color-bp-primary-600: #004F82;
  --color-bp-primary-700: #00466E;
  --color-bp-primary-800: #003E62;
  --color-bp-primary-900: #023A5F;
  --color-bp-primary-1000: #02365B;

  --color-bp-secondary-100: #ffe0c9;
  --color-bp-secondary-200: #ffb885;
  --color-bp-secondary-300: #ff924e;
  --color-bp-secondary-400: #f47f37;
  --color-bp-secondary-500: #e86d23;
  --color-bp-secondary-600: #d75c16;
  --color-bp-secondary-700: #c34d0e;
  --color-bp-secondary-800: #a63f0a;
  --color-bp-secondary-900: #883307;
  --color-bp-secondary-1000: #6a2705;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Text color */
    -webkit-text-fill-color: inherit !important;

    /* Background should be white */
    background-color: white !important;

    /* Force white background into Chrome’s autofill paint layer */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;

    /* REQUIRED to override Chrome’s new light-dark autofill */
    background-clip: content-box !important;
  }

  [type="email"],
  [type="password"] {
    @apply w-full border border-gray-300 rounded-md p-2;
  }
}

body {
  @apply bg-slate-200;
  font-family: "Montserrat", sans-serif;
}

.btn {
  @apply flex items-center justify-center w-full p-2 rounded-md hover:font-bold hover:cursor-pointer;
}

.btn-primary {
  @apply bg-bp-primary-500 hover:bg-bp-primary-700 text-white;
}

.btn-secondary {
  @apply border border-gray-300 text-gray-600 hover:text-gray-800 hover:bg-gray-100;
}