@import "tailwindcss";

@theme {
  --color-budget-pulse-100: #CCEAFF;
  --color-budget-pulse-200: #A9D3EE;
  --color-budget-pulse-300: #86BDDD;
  --color-budget-pulse-400: #63A6CB;
  --color-budget-pulse-500: #005796;
  --color-budget-pulse-600: #004F82;
  --color-budget-pulse-700: #00466E;
  --color-budget-pulse-800: #003E62;
  --color-budget-pulse-900: #023A5F;
  --color-budget-pulse-1000: #02365B;
}

@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    /* Text color */
    -webkit-text-fill-color: inherit !important;

    /* Background should be white */
    background-color: white !important;

    /* Force white background into Chrome’s autofill paint layer */
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    box-shadow: 0 0 0 1000px white inset !important;

    /* REQUIRED to override Chrome’s new light-dark autofill */
    background-clip: content-box !important;
  }

  [type="email"],
  [type="password"] {
    @apply w-full border border-gray-300 rounded-md p-2;
  }
}

body {
  background-image: url("bg_pattern.png");
  background-repeat: repeat;
}

.btn {
  @apply w-full p-2 rounded-md hover:font-bold hover:cursor-pointer;
}

.btn-primary {
  @apply bg-budget-pulse-500 hover:bg-budget-pulse-700 text-white;
}
